/* Fonts (not sure what I'm using yet) */

font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Mukta Vaani', sans-serif;

/* Header Styling */
header-title {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: blue;
  padding-top: 45px;
}

header-about {

}

company-name {

}

company-about {

}

tweet-box {

}

stock-chart {

}

explanatory-text {

}


/* Footer Styling */
footer-name {

}

footer-datasource {

}

footer-codesource {

}
