/*Colors for reference
#A0DEF6
#3B7B8E
#1DA1F2
#DA2855
#DA1724
#FF6700
#F5F8FA
#328E54


*/
/* Header Styling */
#header-container {
  text-align: center;
  display: block;
  margin-top: 2em;
}
#header-title {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 50px;
  color: #3B7B8E;
}
#header-about {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: grey;
}
#drop-down-menu {
  margin-top: 2em;
  margin-left: 3.5em;
  margin-bottom: 2em;
}
/* Company Styling */
#company-container {
  margin-top: 2em;
  margin-left: 3.5em;
  margin-bottom: 2em;
  background-color: #F5F8FA;
}
#company-name {
  font-family: 'Mukta Vaani', sans-serif;
  font-weight: bold;
  font-size: 50px;
  float: left;
  margin-left: 0.5em;
  margin-top: 0.5em;
}
#company-logo {
  float: right;
  margin-top: 1em;
  margin-right: 1em;
}
#company-about {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  margin-left: 0.5em;
  margin-top: 0.1em;
}
/* Twitter Styling */
#tweet-box {
  float: left;
  margin-left: 3.5em;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* Stock Chart Styling */
#stock-chart {
  float: right;
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* Explanatory Text Box Styling */
#explanatory-text {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  margin-left: 0.5em;
}
/* Footer Styling */
#footer-container {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  background-color: #3B7B8E;
  color: #F5F8FA;
}
#footer-name {
  float: left;
}
#footer-datasource {

}
#footer-codesource {
  float: right;
}
